body,
h1 {
  font-weight: 300;
  background-color: #eee;
}

#question-counter {
  font-weight: bold;
}

#question-container {
  margin-top: 48px;
  margin-bottom: 48px;
}

.question-holder {
  padding: 1.0rem 1.0rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.answer-container {
  display: flex;
  flex-direction: initial;
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
}

@media (hover: hover) {
  .answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 200ms;
  }
}

@media (hover: none) {
  .answer-container:active {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 20ms;
  }
}

.answer-prefix {
  background-color: #0eaedf;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1.2rem 1.2rem;
  margin: 0;
}

.answer-text {
  padding: 1.2rem 1.2rem;
  width: 100%;
  margin: 0;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightpink;
}


.result-title {
  padding: 0.0rem 1.0rem;
  display: flex;
  text-align: center;
  align-items: center;
}
